body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff; /* Default white background */
  color: #000000; /* Default black font color */
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left; /* Text justified for web version */
}

.logo {
  width: 150px; /* Adjust logo size */
  height: auto;
  margin-right: 20px; /* Add spacing between logo and text for web version */
}

.logo img {
  width: 100%;
  height: auto;
}

.text {
  max-width: 400px; /* Adjust max-width for mobile */
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  body {
    background-color: #000000; /* Black background for mobile */
    color: #ffffff; /* White font color for mobile */
  }

  .container {
    flex-direction: column; /* Change layout to column for mobile */
    align-items: center;
    text-align: center; /* Text not justified for mobile version */
  }

  .logo {
    margin-bottom: 20px; /* Add spacing between logo and text for mobile version */
  }
}
