body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column; /* Change layout to column for mobile */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 150px; /* Adjust logo size for mobile */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  margin-bottom: 20px; /* Add spacing between logo and text for mobile */
}

.logo img {
  width: 100%;
  height: auto;
}

.content {
  text-align: center;
}

.text {
  width: 80%; /* Adjust the width as needed */
  max-width: 300px; /* Set maximum width for better readability */
}

.bold {
  font-weight: bold;
  font-size: 20px; /* Adjust font size for mobile */
  margin-bottom: 10px; /* Adjust margin as needed */
}

p {
  font-size: 16px; /* Adjust font size for mobile */
  margin: 0;
}
