body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px; /* Add padding to the sides */
}

.logo {
  width: 150px; /* Adjust logo size for mobile */
  height: auto;
  margin-right: 20px; /* Add spacing between logo and text */
}

.logo img {
  width: 100%;
  height: auto;
}

.text {
  text-align: left; /* Align text to the left of the logo */
  max-width: 400px; /* Adjust max-width for mobile */
}

.bold {
  font-weight: bold;
  font-size: 20px; /* Adjust font size for mobile */
  margin-bottom: 10px; /* Adjust margin as needed */
}

p {
  font-size: 16px; /* Adjust font size for mobile */
  margin: 0;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  body {
    background-color: #000000; /* Black background for mobile */
    color: #ffffff; /* White font color for mobile */
  }

  .container {
    flex-direction: column; /* Change layout to column for mobile */
    align-items: center;
  }

  .logo {
    margin-bottom: 20px; /* Add spacing between logo and text for mobile */
  }
}
